* text=auto !eol
/gol.iml -text
/gol.ipr -text
src/org/softpres/life/Gestures.scala -text
src/org/softpres/life/Grid.scala -text
src/org/softpres/life/Individual.java -text
src/org/softpres/life/Life.java -text
src/org/softpres/life/World.java -text
srcjs/gestures.js -text
srcjs/grid.js -text
srcjs/index.html -text
srcjs/life.css -text
srcjs/life.js -text
srctest/org/softpres/life/GestureDemo.scala -text
srctest/org/softpres/life/GridDemo.scala -text
